.custom-navbar {
    background-color: #2c3e50 !important;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ecf0f1 !important;
  }
  
  .custom-navbar .nav-link {
    font-size: 1.1rem;
    margin-right: 15px;
    color: #ecf0f1 !important;
    transition: color 0.3s ease;
  }
  
  .custom-navbar .nav-link:hover {
    color: #3498db !important;
  }
  
  .custom-navbar .navbar-toggler {
    border: none;
    outline: none;
  }
  
  .custom-navbar .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 0.5%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
  }
  
  .custom-navbar .navbar-collapse {
    justify-content: flex-end;
  }
  
  @media (max-width: 767px) {
    .custom-navbar .nav-link {
      font-size: 20px;
      margin-right: 10px;
    }
    .navbar.Brand  {
        font-size: 5px;
    }
  }
  